    <table>
        <tr>
            <th>Comments</th>
        </tr>
        <% comments.forEach(function(comment) { %>
        <% flag = "" %>
        <tr>
            <% if (comment.flag) {
                flag = "FLAGGED"
            } %>
            <td><%=comment.username%> commented, "<%= comment.text %>" <%= flag %></td>
            <% if (username) { %>
            <td><li id="flag"> - <a href="/flag/0<%=comment._id%>">FLAG</a></li></td>
            <% } %>
        </tr>
        <tr>
            <td>-------------------</td>
        </tr>
        <% }); %>
        
    </table>