<div id="createButton">
    <form id="create" method="get" action="/create_form">
        <fieldset>
        <input id="createPage" type="submit" value="Create a Page">
        </fieldset>
    </form>
</div>