
<form method="post" action="/createPage">
                  <input type="text" name="name" placeholder="Page Name" required>
                  <input type="text" name="description" placeholder="Description" required>
                  <input type="text" name="id" placeholder="Page ID Number" required>
                  <input type="submit">
</form>