<nav>
    <ul>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="dining" href="/dining">Dining Services</a></li>
        <li><a id="housing" href="/housing">Housing</a></li>
        <li><a id="buildings" href="/buildings">Academic Buildings</a></li>
        <li><a id="courses" href="/courses">Courses</a></li>
        <li><a id="events" href="/events">Campus Events</a></li>
        <li><a id="logout" href="/logout">Logout</a></li>
        <li><a id="users" href="/users">(Admin Only?) Users</a></li>
        <li><a id="adminpage" href="/adminpage">(Admin Only?) Admin Page</a></li>
    </ul>
</nav>