<nav>
    <ul>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="dining" href="/dining">Dining Services</a></li>
        <li><a id="domrs" href="/dorms">Housing</a></li>
        <li><a id="buildings" href="/buildings">Academic Buildings</a></li>
        <li><a id="courses" href="/courses">Courses</a></li>
        <li><a id="events" href="/events">Campus Events</a></li>
        <li><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>