<p id="ratings"><img height='20px' width='20px' src="http://upload.wikimedia.org/wikipedia/commons/8/87/Symbol_thumbs_up.svg">: <%=ratings.like%>
    <img height='20px' width='20px' src="http://upload.wikimedia.org/wikipedia/en/2/2f/Thumbs-down-icon.png">: <%=ratings.dislike%></p>