<% include chunks/head %>
<% include chunks/nav %>
<div class="category">
    <h1>Academic Buildings</h1>
    <a id="extLink" href="http://www.stlawu.edu/campus-tours" target="_blank">stlawu.edu/campus-tours</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <% buildings.forEach(function(page) { %>
            <tr>
                <td><a href="/buildingspage/<%= page._id %>"><%= page.title %></td>
                <td><%= page.description %></td>
            </tr>
        <% }); %>
    </table>
</div>
<% include chunks/create_page %>
<% include chunks/foot %>