<% include chunks/head %>
<% include chunks/nav %>
<div class="category">
    <h1>Courses</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <% course.forEach(function(page) { %>
            <tr>
                <td><a href="/coursespage/<%= page._id %>"><%= page.title %></td>
                <td><%= page.description %></td>
            </tr>
        <% }); %>
    </table>
</div>
<% include chunks/create_page %>
<% include chunks/foot %>