<% include chunks/head %>


<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% names.forEach(function(page) { %>
        <tr>
            <td><%= page.name %></td>
            <td><%= page.description %></td>
        </tr>
    <% }); %>
</table>

<p>Dining Services page.</p>

<% include chunks/create_page %>
<% include chunks/nav %>
<% include chunks/foot %>