<% include chunks/head %>
<% include chunks/nav %>
<div class="category">
    <h1>Dining Services</h1>
    <a id="extLink" href="http://www.stlawu.edu/dining" target="_blank">stlawu.edu/dining</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <% diningPage.forEach(function(diningPage) { %>
            <tr>
                <td><a href="/diningpage/<%= diningPage._id %>"><%= diningPage.title %></a></td>
                <td><%= diningPage.description %></td>
            </tr>
        <% }); %>
    </table>
</div>


<% if (username) { %>
<% include chunks/create_page %>
<% } %> ;


<% include chunks/foot %>