<% include chunks/head %>

<p>Dining Services page.</p>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Page ID</th>
    </tr>
    <% diningPage.forEach(function(page) { %>
        <tr>
            <td><a href="/diningpage" </a><%= page.title %></td>.
            <td><%= page.description %></td>
            <td name = "id" </a> <%= page._id %></td>>
        </tr>
    <% }); %>
</table>

<% include chunks/create_page %>
<% include chunks/nav %>
<% include chunks/foot %>