<% include chunks/head %>

<p>Dining Services page.</p>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% diningPage.forEach(function(page) { %>
        <tr>
            <td><%= page.title %></td>
            <td><%= page.description %></td>
        </tr>
    <% }); %>
</table>

<% include chunks/create_page %>
<% include chunks/nav %>
<% include chunks/foot %>