<% include chunks/head %>
<% include chunks/nav %>
<div class="category">
    <h1>Campus Events</h1>
    <a id="extLink" href="https://stlawu-community.symplicity.com/?" target="_blank">sluwire.stlawu.edu</a>
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <% event.forEach(function(page) { %>
            <tr>
                <td><a href="/eventspage/<%= page._id %>"><%= page.title %></td>
                <td><%= page.description %></td>
            </tr>
        <% }); %>
    </table>
</div>


<% include chunks/foot %>