<% include chunks/head %>
<% include chunks/nav %>

<h1 id="profile">Home page for <%= username %>.</h1>

<a id=deactivate" href="/deactivate/<%=username%>">Deactivate</a>

<% include chunks/foot %>