<% include chunks/head %>
<div class="category">
    <h1>Housing</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <% house.forEach(function(page) { %>
            <tr>
                <td><a href="/housingpage/<%= page._id %>"><%= page.title %></td>
                <td><%= page.description %></td>
            </tr>
        <% }); %>
    </table>
</div>

<% include chunks/create_page %>
<% include chunks/nav %>
<% include chunks/foot %>